footer
  background: $base-blue-dark
  color: white
  padding-top: 1em
  font-family: $poppins
  .icons
    a
      i.fab
        color: white
        margin-right: 0.2em
  p
    font-size: .9em
  ul
    margin-left: -2em
    li 
      list-style: none
      a
        color: $white-70
        transition: all .5s
        font-size: .9em
        &:hover
          color: $base-blue
          cursor: pointer
          text-decoration: none
  .copyright-footer
    background: $blue-dark-50
    font-size: .8em
    padding: 1em
    a
      color: white
      margin-right: .5em