/*** Colors ***/
$base-blue: #03A9F4
$base-blue-dark: #1B1C41
$blue-dark-50: #0a0a19
$base-gray: #757575

$dark-grey: #212121

$white-70: rgba(255,255,255,0.9)

/*** Fonts ***/

$poppins: 'Poppins', sans-serif


body
  margin: 0 auto
  padding: 0 auto
  font-family: $poppins
  i
    font-family: 'FontAwesome'
    font-style: normal

.text-white
  color: white

.text-blue
  color: $base-blue

.text-font-light
  font-family: $poppins
  font-weight: lighter

.text-font-bold
  font-family: $poppins
  font-weight: bold

.text-shadow
  text-shadow: 1px 1px 1px $dark-grey

.uppercase
  text-transform: uppercase

.sentence-regular
  color: $base-gray
  text-align: justify
  line-height: 1.08em
  letter-spacing: .05em
  font-size: 1em
  font-family: $poppins
  font-weight: lighter

/** Margins and paddings **/
.main-margin
  margin: 1em

.main-margin-top-bottom
  margin: 1em auto

.main-padding
  padding: 1em

.main-padding-top-bottom
  padding: 1em 0

/** Images ***/
.box-shadow
  +box-shadow(1px,1px,2px, $dark-grey)


/*** Align items **/

.d-flex
  justify-content: center
  align-items: center
