nav.main-menu
  background: $white-70
  a.navbar-brand
    img
      width: 150px
  ul.navbar-nav
    li.nav-item
      a
        color: $base-gray
        font-family: $poppins
        text-transform: uppercase
        font-weight: lighter
        text-decoration: none
        font-size: .9em
        +transition(color 250ms ease)
        &:hover
          color: $base-blue
