=parallaxbg($image, $height)
  background-image: url($image)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  height: $height
  max-height: 100%

=border($x, $type, $color)
  -webkit-border: $x $type $color
  -moz-border:    $x $type $color
  -ms-border:     $x $type $color
  border:         $x $type $color

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=text-shadow($x, $y, $z, $color)
  -webkit-text-shadow: $x $y $z $color
  -moz-text-shadow: $x $y $z $color
  -ms-text-shadow: $x $y $z $color
  -o-text-shadow: $x $y $z $color
  text-shadow: $x $y $z $color

=box-shadow($x, $y, $z, $color)
  -webkit-box-shadow: $x $y $z $color
  -moz-box-shadow: $x $y $z $color
  -ms-box-shadow: $x $y $z $color
  -o-box-shadow: $x $y $z $color
  box-shadow: $x $y $z $color

=transform($transforms)
  -webkit-transform: $transforms
  -moz-transform: $transforms
  -ms-transform: $transforms
  -o-transform: $transforms
  transform: $transforms

=transition($transition...)
  -webkit-transition: $transition
  -moz-transition: $transition
  -ms-transition: $transition
  -o-transition: $transition
  transition: $transition

=animation($animation...)
  -webkit-animation: $animation
  -moz-animation: $animation
  -ms-animation: $animation
  -o-animation: $animation
  animation: $animation

=filter($filter-type,$filter-amount)
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})')
  -moz-filter: $filter-type+unquote('(#{$filter-amount})')
  -ms-filter: $filter-type+unquote('(#{$filter-amount})')
  -o-filter: $filter-type+unquote('(#{$filter-amount})')
  filter: $filter-type+unquote('(#{$filter-amount})')

=keyframes($name)
  -webkit-keyframes($name)
    @content
  -moz-keyframes($name)
    @content
  -ms-keyframes($name)
    @content
  keyframes($name)
    @content

=opacity($value)
  $IEValue: $value*100
  opacity: $value
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")"
  filter: alpha(opacity=$IEValue)
