#customers.swiper-container.hidden-phone.mt-5
  h3.text-font-light.text-center.uppercase Ellos confían en nosotros
  .swiper-wrapper
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/AKRON.png')
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/ALBARRAN.png')
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/APS.png')
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/ARCORE.png')
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/BEACHSTORE.png')
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/CANIRAC.png')
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/CHOMPYS.png')
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/CIMIRH.png')
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/DORMIMUNDO.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/GALSAC.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/GRUPOGUIA.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/LAPUEBLITA.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/LARUTADELTEQUILA.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/MEDIMARCAS.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/MUEBLESLOMAALTA.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/NAVARANDA.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/PROCESA.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/PUEBLOMAGICO.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/NAVARANDA.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/PROCESA.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/PUEBLOMAGICO.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/RECINTODELAPAZ.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/REXZACATECAS.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/ofertas.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/SURFAX.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/SURTIMEDIK.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/SWIMSTORE.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/tecmon.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/UAD.png')    
    .swiper-slide.flex-center
      img.img-responsive.center-block.img-bw(src='www/public/images/customers/VERDEVALLE.png')
