footer
  .links-section
    .container
      .row
        .col
          img.img-fluid(alt='Esproven', src='www/public/images/logo-white-sm.png')
          ul
            li
              a(href='tel: 33 1505 3492')
                strong.text-bold Tel: 
                |  33 1505 3492
        .col
          h6.text-uppercase Acerca de nosotros
          hr
          ul
            li
              a(href='/about-us.html') ¿Quiénes Somos?
            li
              a(href='/events.html') Eventos
        .col
          h6.text-uppercase ESPROVEN
          hr
          ul
            li
              a(href='/contact.html') Contacto
            li
              a(href='mailto:contacto@esproven.com.mx') contacto@esproven.com.mx
  .social-section
    .container
      .row
        .col.icons
          h6.text-uppercase Entérate
          a(href='http://www.facebook.com/', target='_blank')
            i.fab.fa-facebook-square.fa-2x
          a(href='http://www.instagram.com/', target='_blank')
            i.fab.fa-instagram.fa-2x
          a(href='http://www.youtube.com/', target='_blank')
            i.fab.fa-youtube.fa-2x
        .col
          h6.text-uppercase Objetivo.
          hr
          p.text-justify
            | Nuestro principal objetivo es participar e involucrarnos, activamente, en el proceso y desarrollo de los 
            | proyectos de clientes para que se materialicen.
        .col
          h6.text-uppercase Secciones
          hr
          ul
            li
              a(href='#') Programas
            li
              a(href='#') Galer&iacute;a
            li
              a(href='#') MeOnline
              
  .copyright-footer
    .container
      .row
        .col-xs-12.col-md-4
          p © 2018 Esproven
        .col-md-6.text-right
          a(href='www/public/terminos-condiciones.pdf', target='_blank') Terminos y condiciones
          a(href='www/public/aviso-privacidad.pdf', target='_blank') Aviso de privacidad
          a(href='http://meonline.com.mx/', target='_blank') Designed by MeOnline
        .col-md-2
          a.gototop.flex-center(href='#top')
            i.fa.fa-angle-up.fa-2x