form
  .form-row
    .form-group.col-md-6
      label(for="inputEmail4") Email
      input#inputEmail4.form-control(type="email" placeholder="Email")
    .form-group.col-md-6
      label(for="inputName4") Nombre
      input#inputName4.form-control(type="text" placeholder="Nombre")
  .form-group
    label(for="inputPhone") Tel&eacute;fono
    input#inputPhone.form-control(type="value" placeholder="0000000000")
  .form-row
    .form-group.col
      label(for="inputAffair") Asunto
      textarea#inputAffair.form-control(type="text")
  button.btn.btn-primary(type="submit") Env&iacute;ar
