head
  title ESPROVEN
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, user-scalable=no')
  meta(name='description', content='Somos una organización para analizar, desarrollar y aplicar programas modernos de capacitación, asesoría y consultoría para la generación de mejores profesionales, atendiendo las necesidades y expectativas de empresas e individuos, a través de valores éticos y factores claves de éxito.')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins')
  link(rel='stylesheet', href='www/public/css/main.min.css')
  link(rel='stylesheet', href='www/compnents/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='www/compnents/font-awesome/css/font-awesome.min.css')
  link(rel='shortcut icon', type='image/png', href='www/public/images/favicon.png')
  link(rel='shortcut icon', type='image/png', href='http://esproven.com.mx/favicon.png')
  
