div.container
  nav.navbar.navbar-expand-lg.fixed-top.main-menu
    a.navbar-brand(href='/')
      img.img-fluid(src='www/public/images/logo-lx.png')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
        i.fa.fa-bars
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active(v-for="item in menuitems")
          a.nav-link(:href='item.url') {{ item.text }} 
      ul.navbar-nav.mr-auto.navbar-right
        li.nav-item.active
          a.nav-link(href='#') 
            i.fas.fa-facebook.fa-sm
        li.nav-item.active
          a.nav-link(href='#') 
            i.fas.fa-twitter.fa-sm
        li.nav-item.active
          a.nav-link(href='#') 
            i.fas.fa-instagram.fa-sm
        li.nav-item.active
          a.nav-link(href='#') 
            i.fas.fa-linkedin.fa-sm
