script(src='www/compnents/jquery/dist/jquery.min.js')
script(src='www/compnents/bootstrap/dist/js/bootstrap.min.js')
script(src='www/compnents/vue/dist/vue.js')
script(src='www/public/js/main.js')
script(src='www/public/js/swiper.js')
script(src='www/public/js/customers.js')