doctype HTML
html(lang="es")
  include includes/head.jade
  body
    div#appesproven
      include includes/main-menu.jade
      div.about-us-page
        div.parallax-aboutus
          h1.text-white.text-center.text-font-bold.uppercase.text-shadow Nuestra empresa
      div.container.main-margin-top-bottom
        div.row
          div.col-8.p-3
            h3.text-blue.text-font-light.uppercase.mb-2 ¿Quiénes somos?
            p.sentence-regular  Institución que, desde 2007, inicia actividades para la capacitación, asesoría y consultoría, en áreas de administración, mercadotecnia, finanzas y ventas. 
            p.sentence-regular Nuestro propósito principal es la profesionalización de los participantes, en los distintos Diplomados, Seminarios y Cursos.
            p.sentence-regular Talleres que gestionamos, con contenidos y metodologías avanzadas a los requerimientos de las empresas y negocios actuales. 
            h5.text-font-bold Nuestro principal objetivo es participar e involucrarnos, activamente, en el proceso y desarrollo de los proyectos de clientes para que se materialicen. 
            p.sentence-regular Ofrecemos valores agregados a cada programa, mediante seguimiento a los proyectos que los participantes realizan en base a los temas manejados, como requisito indispensable, para determinar la aplicación y aprovechamiento del programa.
          div.col-4.p-3
            img.rounded.box-shadow.img-fluid.mx-auto.d-block(src='www/public/images/meeting.jpg')
        div.row
          div.col-6.p-3
            img.rounded.box-shadow.img-fluid.mx-auto.d-block(src='www/public/images/mision.jpg')
          div.col-6.p-3.d-flex
            div
              h3.text-blue.text-font-light.uppercase.mb-2 Misión
              p.sentence-regular  Somos una organización para analizar, desarrollar y aplicar programas modernos de capacitación, asesoría y consultoría para la generación de mejores profesionales, atendiendo las necesidades y expectativas de empresas e individuos, a través de valores éticos y factores claves de éxito.
              p.sentence-regular Buscamos la actualización constante de métodos para la enseñanza-aprendizaje, y que nuestros instructores y capacitadores lo transmitan y se logren aplicar mejores estrategias, tácticas y controles en la optimización de resultados individuales y para los negocios.
        div.row
          div.col-4.p-3.d-flex
            div
              h3.text-blue.text-font-light.uppercase.mb-2 Visión
              p.sentence-regular.text-left Ser la mejor alternativa en capacitación, asesoría y consultoría en áreas financiera, mercadológica y comercial, a nivel nacional e internacional.
          div.col-8.p-3
            img.rounded.box-shadow.img-fluid.mx-auto.d-block(src='www/public/images/vision.jpg')
    
    include includes/customers.jade
    include includes/footer.jade
    include includes/scripts.jade
