doctype HTML
html(lang="es")
  include includes/head.jade
  body
    div#appesproven
      include includes/main-menu.jade
      div.contact-page
        div.parallax-contact
          h1.text-white.text-center.text-font-bold.uppercase.text-shadow Contacto
        div.container.p-5
          div.row
            div.col-md-6.col-sm-12.text-center
              img.img-fluid.mx-auto.d-block(src='www/public/images/logo-lx.png')
              hr
              p.text-font-bold.uppercase Estamos cerca de ti, en todo momento
              p 
                a.link.text-font-regular.mt-1(href='tel: 3315053492') Tel&eacute;fono: 33 1505 3492
              p 
                a.link.text-font-regular.mt-1(href='mailto: contacto@esproven.com.mx') contacto@esproven.com.mx
            div.col-md-6.col-sm-12
              div.form-content.p-3.m-3.bg-white.text-dark.rounded.box-shadow
                include includes/form.jade

    include includes/customers.jade
    include includes/footer.jade
    include includes/scripts.jade
