doctype HTML
html(lang="es")
  include includes/head.jade
  body
    div#appesproven
      include includes/main-menu.jade
      div.events-page
        div.parallax-events
          h1.text-white.text-center.text-font-bold.uppercase.text-shadow Eventos
        div.container.p-5
          div.row
            .card-columns
              .card
                img.img-fluid.mx-auto.d-block.cart-img-top(src='www/public/images/junio.jpg')
                .card-body
                  h5.card-title.text-center CURSO – TALLER DE FINANZAS, EN TIEMPOS DE CRISIS
                  p.card-text.text-center
                    | ESTRATEGIAS FINANCIERAS PARA PROTEGER EL NEGOCIO Y SOSTENER SU CRECIMIENTO.
                  button.btn.btn-primary(type='button', data-toggle='modal', data-target='#moreInfo')
                    | M&aacute;s informaci&oacute;n
      include includes/customers.jade
      include includes/footer.jade


              

      // Modal
    #moreInfo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title.text-center Temar&iacute;o
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            p.text-justify El sector privado de nuestro pa&iacute;s, las empresas de todo tamaño hoy en d&iacute;a requieren
              | planear y estar al pendiente de todas las variables y factores pol&iacute;ticos, económicos,
              | sociales, tecnológicos y ecológicos, que están afectando a nuestro pa&iacute;s.
            p.text-justify Ofrecemos un curso – taller en donde se obtendrá la actualización y aplicación de 7 temas
              | que permitirán proteger los riesgos económicos y financieros de su negocio, aumentar sus
              | operaciones y evitar posibles perdidas.
            hr
            ul
              li Obtener y mantener liquidez del negocio
              li Protecci&oacute;n y manejo &oacute;ptimo de activos fijos (propiedades, maquinaria, equipos, veh&iacute;culos, etc.)
              li El financiamiento necesario para crecimiento y conservación del negocio.
              li Maximizaci&oacute;n de ventas.
              li Reducci&oacute;n de costos y gastos.
              li Manejo de resultados.
              li El retorno de inversión adecuado.
            p.text-justify Todos estos temas serán manejados con ejercicios prácticos y reales que podrán ser 
              | fácilmente aplicados a su negocio.
            p.text-justify Ofrecemos un seguimiento y asesor&iacute;a, posterior al curso, a través de internet, para lograr
              | la aplicación y resultados propuestos.
            p.text-center
              strong Duraci&oacute;n 8 horas (martes 8 de junio 2018)            
            p.text-center
              strong Lugar Circulo Ejecutivo           
            p.text-center
              strong Inversi&oacute;n $900.00
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar

    include includes/scripts.jade
