doctype HTML
html(lang="es")
  include includes/head.jade
  body
    div#appesproven
      include includes/main-menu.jade
      div.gallery-page
        div.parallax-gallery
          h1.text-white.text-center.text-font-bold.uppercase.text-shadow Galería
        div.container.p-5
          h3.text-center.text-blue.uppercase.m-3 Verde Valle
          hr
          .row
            article.col-md-3
              a(href='www/public/images/verdevalle/1.jpg', data-lightbox='example-set', data-title='Esproven, curso en Verde Valle, Gauadalajara.')
                img.img-thumbnail(src='www/public/images/verdevalle/1.jpg', alt='Esproven, curso en Verde Valle, Gauadalajara.')
            article.col-md-3
              a(href='www/public/images/verdevalle/2.jpg', data-lightbox='example-set', data-title='Esproven, curso en Verde Valle, Gauadalajara.')
                img.img-thumbnail(src='www/public/images/verdevalle/2.jpg', alt='Esproven, curso en Verde Valle, Gauadalajara.')            
            article.col-md-3
              a(href='www/public/images/verdevalle/3.jpg', data-lightbox='example-set', data-title='Esproven, curso en Verde Valle, Gauadalajara.')
                img.img-thumbnail(src='www/public/images/verdevalle/3.jpg', alt='Esproven, curso en Verde Valle, Gauadalajara.')            
            article.col-md-3
              a(href='www/public/images/verdevalle/4.jpg', data-lightbox='example-set', data-title='Esproven, curso en Verde Valle, Gauadalajara.')
                img.img-thumbnail(src='www/public/images/verdevalle/4.jpg', alt='Esproven, curso en Verde Valle, Gauadalajara.')
          .row
            article.col-md-3
              a(href='www/public/images/verdevalle/5.jpg', data-lightbox='example-set', data-title='Esproven, curso en Verde Valle, Gauadalajara.')
                img.img-thumbnail(src='www/public/images/verdevalle/5.jpg', alt='Esproven, curso en Verde Valle, Gauadalajara.')
            article.col-md-3
              a(href='www/public/images/verdevalle/6.jpg', data-lightbox='example-set', data-title='Esproven, curso en Verde Valle, Gauadalajara.')
                img.img-thumbnail(src='www/public/images/verdevalle/6.jpg', alt='Esproven, curso en Verde Valle, Gauadalajara.')       


    include includes/customers.jade
    include includes/footer.jade
    include includes/scripts.jade
    script(src='www/public/js/lightbox.min.js')
    script.
      lightbox.option({
        'albumLabel': "Imagen %1 de %2"
      })
