doctype HTML
html(lang="es")
include includes/head.jade
body
  div#appesproven
    include includes/main-menu.jade
    div.home-page
      div.container.d-flex
        img.img-fluid.mx-auto.d-block(src='www/public/images/logo-lx.png')
      div.event-home
        div.container.text-center
          h1.text-center.text-uppercase.text-light.d-flex CURSO – TALLER DE FINANZAS, EN TIEMPOS DE CRISIS
          a.btn.btn-light(href="events.html") Más información
      div.container
        div.row
          div.col-12.p-3.text-center
            h3.text-blue.text-font-light.uppercase.mb-2 ¿Quiénes somos?
            p.sentence-regular  Institución que, desde 2007, inicia actividades para la capacitación, asesoría y consultoría, en áreas de administración, mercadotecnia, finanzas y ventas. 
            p.sentence-regular Nuestro propósito principal es la profesionalización de los participantes, en los distintos Diplomados, Seminarios y Cursos.
            p.sentence-regular Talleres que gestionamos, con contenidos y metodologías avanzadas a los requerimientos de las empresas y negocios actuales. 
            h5.text-font-bold Nuestro principal objetivo es participar e involucrarnos, activamente, en el proceso y desarrollo de los proyectos de clientes para que se materialicen. 
            p.sentence-regular Ofrecemos valores agregados a cada programa, mediante seguimiento a los proyectos que los participantes realizan en base a los temas manejados, como requisito indispensable, para determinar la aplicación y aprovechamiento del programa.
        div.row
          div.col-12.d-flex
            img.rounded.box-shadow.img-fluid.mx-auto.d-block(src='www/public/images/meeting.jpg')
      div.programs-page.mt-5
        div.parallax-programs.text-center
          h1.text-white.text-font-bold.uppercase.text-shadow Conoce nuestros programas
          a.btn.btn-light(href="programs.html") Programas

              


  include includes/customers.jade
  include includes/footer.jade
  include includes/scripts.jade
