doctype HTML
html(lang="es")
  include includes/head.jade
  body
    div#appesproven
      include includes/main-menu.jade
      div.profesors-page
        div.parallax-profesors
          h1.text-white.text-center.text-font-bold.uppercase.text-shadow Instructores
        div.container.p-5
          div.row
            .card-deck
              .card
                img.card-img-top(src='www/public/images/fer.jpg', alt='Card image cap')
                .card-body
                  h5.card-title.text-center.text-font-bold.text-blue MTRO. FERNANDO GÓNZALEZ FIGUEROA
                  ul.card-text
                    li Licenciatura en Administración de Empresas, (Universidad La Salle, Mexico) Maestría en Mercadotecnia, (UAG)
                    li Maestría en Finanzas Corporativas, (UAG)
                    li Especialidad en Antropología e Historia, (Universidad Navarra, España)
                .card-footer
                  small.text-muted Descargar CV
              .card
                img.card-img-top(src='www/public/images/patty.jpg', alt='Card image cap')
                .card-body
                  h5.card-title.text-center.text-font-bold.text-blue LIC. PATRICIA DE LACHICA
                  ul.card-text
                    li Licenciatura en Administración de Empresas y Negocios Internacionales, (Universidad La Salle, Guadalajara)
                    li Maestría en Mercadotecnia, (UNIVA, Guadalajara)
                    li Diplomado en Docencia, (Universidad La Salle, Guadalajara)
                    li Programa Regional de Mercadoctenia Turística, (ITESM)
                    li Técnica en ciencias de la comunicación, (UNIVER)
                .card-footer
                  small.text-muted Descargar CV
              .card
                img.card-img-top(src='www/public/images/mayra.jpg', alt='Card image cap')
                .card-body
                  h5.card-title.text-center.text-font-bold.text-blue ING. MAYRA LÓPEZ CÁRDENAS
                  ul.card-text
                    li Ingeniería Telemática, (UDG)
                    li Diplomado en Marketing Digital (UDG)
                    li Certificación Responsive Design (Plazti)
                    li Certificación SCRUM MASTER (UDG)
                .card-footer
                  small.text-muted Descargar CV

    include includes/customers.jade
    include includes/footer.jade
    include includes/scripts.jade
