doctype HTML
html(lang="es")
  include includes/head.jade
  body
    div#appesproven
      include includes/main-menu.jade
      div.programs-page
        div.parallax-programs
          h1.text-white.text-center.text-font-bold.uppercase.text-shadow Programas
        div.container.p-5
          h3.text-center.text-blue.uppercase.m-3 ECONOMÍA, CONTABILIDAD Y FINANZAS
          hr
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración avanzada de compras
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración de Costos            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración y análisis de Riesgo
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración del Capital de Trabajo            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración Financiera
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Auditoría Financiera
          .row          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Análisis del Riesgo de negocios
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Análisis de Rentabilidad            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Análisis de Sensibilidad
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Análisis Financiero            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Balanced Scorecard            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Contabilidad aplicada          
          .row          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Control, evaluación y terminación de proyectos de inversión
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estados Financieros Proyectados            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Evaluación de Proyectos de Inversión
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Financiamiento a Corto y Largo Plazo            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Financiamiento inmobiliario            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas aplicadas a la Mercadotecnia          
          .row          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas aplicadas a las Ventas
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas corporativas        
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas en Épocas de Crisis
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas Estratégicas            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas para no Financieros          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas Públicas          
          .row          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Instrumentos financieros derivados
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercados Financieros        
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas en Épocas de Crisis
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center NIIF Y NIC (Análisis, interpretación y aplicación)            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center NIIF para PYMES          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Planeación Estratégica Financiera          
          .row          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Pronósticos y Presupuestos
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Instrumentos de pago bancarios        
          h3.text-center.text-blue.uppercase.m-3 MERCADOTECNIA Y VENTAS
          hr
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración de la promoción
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración de marcas            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración hotelera
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Branding Estratégico    
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración Financiera
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Comercialización de Productos Turísticos          
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estrategias de Marketing
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estrategias Dimensionales en Ventas            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercadotecnia de Productos y Servicios
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercadotecnia Inmobiliaria   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercadotecnia para no Mercadologos
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercadotecnia para la alta competitividad          
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercadotecnia Turística
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Neurolingüística   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Plan de Ventas
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercadotecnia Inmobiliaria   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Posicionamiento y Penetración de Mercados
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Procesos de Comercialización          
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Revenue Management
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Sistema comercial y su Entorno   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Sistemas de Inteligencia de Mercados
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Técnicas de Creatividad 
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Turismo sustentable y sostenible
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Ventas Estratégicas          
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Negociación efectiva
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Neurolingüística   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Retail
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Manejo de conflictos 
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración del tiempo
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Liderazgo

          h3.text-center.text-blue.uppercase.m-3 PLANEACIÓN Y ADMINISTRACIÓN
          hr
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración por Objetivos
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración del tiempo   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración pública
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Análisis ambiental
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Calidad Total
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Control Interno Estratégico
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Desarrollo Humano
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Dirección Estratégica   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Empowerment y Coaching
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estrategias de Cobranza Efectivas
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estrategias de Crecimiento para la Empresa
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estrategias para empresas familiares          
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Habilidades Directivas
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Inteligencia Emocional  
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Pensamiento Estratégico
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Plan de Negocios
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Planeación Estratégica y Operativa
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estrategias para empresas familiares            
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Desarrollo de habilidades personales y administrativas

    include includes/customers.jade
    include includes/footer.jade
    include includes/scripts.jade
