.contact-page
  font-family: $poppins
  .parallax-contact
    +parallaxbg('../images/contact.jpg', auto)
    +box-shadow(1px,1px,2px, gray)
    padding: 15vh 0

  .link
    color: $base-blue
    &:hover
      color: $base-blue-dark
      text-decoration: none
