+keyframes(bgcolor)
  0%
    background-position: 0% 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 50%

.home-page
  font-family: $poppins
  .parallax-home
    +box-shadow(1px,1px,2px, gray)
    background: linear-gradient(-45deg, #4FC3F7, #81D4FA, #B3E5FC, #23D5AB)
    background-size: 400% 400%
    animation: bgcolor 15s ease infinite
    padding: 15vh 0
  .event-home
    @extend .parallax-home
    height: auto
