.profesors-page
  font-family: $poppins
  .parallax-profesors
    +parallaxbg('../images/profesors.jpg', auto)
    +box-shadow(1px,1px,2px, gray)
    padding: 15vh 0
  .card
    img
      height: 400px
